[Unit]
Description=Rotate sway wallpaper.
After=sway-session.target
Requires=sway-session.target

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=wallpaper.service

[Install]
WantedBy=sway-session.target
